doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        
                


    body
        block content 
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    link(href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css", rel="stylesheet")
    link(href="//cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.53/responsiveslides.min.css", rel="stylesheet")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js")
        
    script(src="//cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.53/responsiveslides.min.js")   
    script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js")
    script(type = "text/javascript",src="/javascripts/trails-main.js")
    script(src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyASHwlVJ1hOG7YvdnKhzyy4HVrpA5qi_7c&sensor=false")
    