extends layout

block content
	.container
		h1 Success!!  Thanks for submitting your app!
		a(href ="/applicants")
			.btn.btn-default View Submissions
		a(href = "/")
			.btn.btn-default Another Applicant!
		