extends layout

block content
    .logo-bar 
            #image-slide
                img#hiker-image(src ='/images/bike-hike.svg')        
            .img-wrapper
                h1 
                    span#logo-slide Congratulations! 
                img#mountain-div(src='/images/mountains.jpg')
        .btn-group.btn-group-justified       
            a.btn.btn-default(href= '/') Home
                .glyphicon.glyphicon-home
            a.btn.btn-default(href= '/trail-form') Add a Trail
            a.btn.btn-default(href= '/trails') All Trails
    .container            
        h1 Your List of Trails has been updated!!
        .btn-group
            a(href ="/trails")
                .btn.btn-success View Your Trails
            a(href = "/trail-form")
                .btn.btn-info Add another Trail!
