extends layout

block content
    
    .logo-bar    
        #logout-btn 
            a(href="/logout")
                .btn.btn-default.pull-right logout
            .btn-group.pull-right#mobile-menu
                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
                    .glyphicon.glyphicon-align-justify
                ul.dropdown-menu
                    li
                        a(href="/index") Home
                        a(href="/trail-form") Add Trail
                        a(href="/trails") Add Trails
                        a(href="/logout") Logout         
        .img-wrapper
            h1 
                span#logo-slide Trail Log
            h1
                span#info-slide Add Trails     
            img#mountain-div(src='/images/mountains.jpg')

    .btn-group.btn-group-justified       
            a.btn.btn-default(href= '/') Home
                .glyphicon.glyphicon-home
            a.btn.btn-default(href= '/trail-form') Add Trails
            a.btn.btn-default(href= '/trails') All Trails 
    .container#show-js
        .row
            .col-md-12    
                form#add-form(action="/trail", method="post", name="trailForm", onsubmit="return validateForm()")
                    .form-group
                        input.form-control(name="name", type="text", placeholder="Name of Trail")
                    .form-group
                        textarea.form-control(name="description",rows="2", placeholder="Description")
                    .form-group
                        textarea.form-control(name="location",rows="1" type="text", placeholder="City and State")
                    .form-group
                        input.btn.btn-success(type="submit", value="Submit")    
                        a(href='/trails') 
                            .btn.btn-warning View Trails

            
